@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap-css-only/css/bootstrap.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "mdbreact/dist/css/mdb.css";
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400&display=swap");

$btn-color: #607d8b;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 98%;
}

body {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #494444;
}
h1,
h2 {
  font-family: "Playfair Display", serif;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.872rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.872rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 640px) {
  body {
    line-height: 2;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

a.carousel-control-next {
  top: 2rem;
}

.carousel .carousel-indicators li {
  background-color: #908585;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.4rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 1rem;
}
// .carousel-control-next {
//   padding-left: 10rem;
//   padding-bottom: 9rem;
// }

// .carousel-control-prev {
//   padding-right: 10rem;
//   padding-bottom: 9rem;
// }

.carousel .carousel-control-next-icon {
  background-image: url(./assets/right.svg);
  padding: 1rem;
}

.carousel .carousel-control-prev-icon {
  background-image: url(./assets/left.svg);
}

// SideBar Start
#page-wrap {
  text-align: center;
  overflow: auto;
  top: 20%;
  position: relative;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #4d4747;
  transition: color 0.2s;
}

// .bm-item:hover {
//   color: #ce5b5b;
// }

.bm-burger-button {
  // position: fixed;
  width: 36px;
  height: 30px;
  // right: 36px;
  // top: 36px;
}

/* Color/shape of burger icon bars */
// .bm-burger-bars {
//   background: #373a47;
// }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(250, 221, 221);
  padding: 2.5em 1.5em 0;
  // font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
// Side Bar Finish

// Lead Section 2
.container-1 {
  margin: 10px auto;
  position: relative;
  width: 100%;
}
.layer {
  position: absolute;
  padding: 10px;
  // height: 80px;
  // border: 1px dashed;

  // opacity: 0.7;
}

#z-index1 {
  z-index: 1;
  width: 20rem;
  height: 30rem;
  left: 4rem;
  // background-color: #fdd;
}

#z-index2 {
  z-index: 2;
  top: 10rem;
  width: 100%;
  right: 4rem;

  // left: 10rem;
  // width: 40rem;
  // height: 24rem;
  background-color: #939184;
  color: white;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}
